/* @import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap"); */

.svg {
  font-family: "Slackey", sans-serif;
  width: 100%;
  height: 100%;
}
.svg text {
  animation: stroke 8s infinite alternate;
  stroke-width: 2;
  stroke: #208080;
  font-size: 100px;
}
@keyframes stroke {
  0% {
    fill: rgba(240, 192, 0, 0);
    stroke: rgba(240, 192, 0, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(240, 192, 0, 0);
    stroke: rgba(240, 192, 0, 1);
  }
  80% {
    fill: rgba(240, 192, 0, 0);
    stroke: rgba(240, 192, 0, 1);
    stroke-width: 3;
  }
  100% {
    fill: #f0c000;
    stroke: rgba(240, 192, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #fff;
}
