.mainTitle {
  /* font-size: 72px; */
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: -webkit-linear-gradient(
    30deg,
    #c80202 37.41%,
    #2317ff 45.94%,
    #c80202 56.21%,
    #0d00f5 66.07%,
    #3834ff 66.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-blend-mode: darken;
}

.imageTitle {
  background: -webkit-linear-gradient(
    40deg,
    #000000 2.86%,
    rgba(212, 0, 0, 0.914726) 28.72%,
    #0081de 54.58%,
    #14404a 80.44%,
    rgba(0, 0, 0, 0.9) 106.3%
  );
  background-blend-mode: darken;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blackBox {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;

}
.imageBox{
  max-width: 480px;
  width: 100%;
  height: 600px;

}
.imageBoxSub{
  max-width: 600px;
  width: 100%;
  height: 90%;

}
.choosing{
  background: -webkit-linear-gradient(0deg, #000000 1.89%, #D50000 17.75%, #0072DB 42.93%, #D70000 80.87%, #000000 100%);
  background-blend-mode: darken;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
.shadowTitle::before{
content: "About";
font-size:200px;
 width: 100%;
position: absolute;
text-align: center;
color: #ffffff;
text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
bottom: 40%;
right: 5%;
z-index: -1;


}
.shadowTitle::after{
  bottom: 5%;
content: "Shark";
right: 20%;
font-size:200px;
 width: 100%;
position: absolute;
text-align: center;
color: #ffffff;
text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
z-index: -1;

}
@media screen and (max-width: 768px){
  .shadowTitle::before , .shadowTitle::after{
    font-size: 100px;
    right: 0;
  }
}